source "drivers/misc/mediatek/chipinfo/Kconfig"
source "drivers/misc/mediatek/computervision/Kconfig"
source "drivers/misc/mediatek/display/Kconfig"
source "drivers/misc/mediatek/dprx/Kconfig"
source "drivers/misc/mediatek/dsi/Kconfig"
source "drivers/misc/mediatek/gpu/Kconfig"
source "drivers/misc/mediatek/imgproc/Kconfig"
source "drivers/misc/mediatek/ivp/Kconfig"
source "drivers/misc/mediatek/ldvt/Kconfig"
source "drivers/misc/mediatek/mmsys/Kconfig"
source "drivers/misc/mediatek/mm_sysram/Kconfig"
source "drivers/misc/mediatek/mutex/Kconfig"
source "drivers/misc/mediatek/pmic/Kconfig"
source "drivers/misc/mediatek/rbfc/Kconfig"
source "drivers/misc/mediatek/sbrc/Kconfig"
source "drivers/misc/mediatek/scp/Kconfig"
source "drivers/misc/mediatek/slicer/Kconfig"
source "drivers/misc/mediatek/timestamp/Kconfig"
source "drivers/misc/mediatek/top/Kconfig"
source "drivers/misc/mediatek/hal_tsp/Kconfig"
source "drivers/misc/mediatek/emi_ctrl/Kconfig"
